@model List<Blog.Model.Data.Entry>

@{
    foreach (var items in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@items.Title</div>
            <div class="panel-body">
               @Html.Raw(items.Content)
            </div>
        </div>
    }
}
