@model Blog.Model.Data.Entry
<form asp-controller="Entry" asp-action="Save" method="post">
    <div class="btn-group">
        <button class="btn btn-success" type="submit">Kaydet</button>
        <button class="btn btn-primary" type="reset">Temizle</button>
    </div>
    <br /><br />
    <input type="text" asp-for="Title" placeholder="Baslik" style="width:100%" /><br /><br />
    <p>
        <select asp-for="Category">
            @{ 
                var data = (List<Blog.Model.Data.Category>)ViewBag.Categories;
                foreach(var items in data)
                {
                    <option value="@items.Id">@items.Title</option>
                }
            }
        </select>
    </p>
    <p>
        <br />
        <textarea asp-for="Content"></textarea>
    </p>


</form>

@section scripts{
    <script>

        $(document).ready(function () {
            $("#BlogEditorTable").dataTable();

            tinymce.init({
                selector: 'textarea',
                height: 350,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                ],
                toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
                image_advtab: true,

                image_title: true,
                automatic_uploads: true,
                images_upload_url: "/Duyurular",
                file_picker_types: 'image',
                file_picker_callback: function (cb, value, meta) {
                    var input = document.createElement('input');
                    input.setAttribute('type', 'file');
                    input.setAttribute('accept', 'image/*');

                    input.onchange = function () {
                        var file = this.files[0];
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var blobInfo = blobCache.create(id, file);
                        blobCache.add(blobInfo);
                        cb(blobInfo.blobUri(), { title: file.name });
                    };

                    input.click();
                }
            });
            

        })
    </script>
}