@model Blog.Model.Data.Category

<form asp-controller="Category" asp-action="Update" method="post">
    <div class="btn-group">
        <button class="btn btn-success" type="submit">Kaydet</button>
        <button class="btn btn-primary" type="reset">Temizle</button>
    </div>
    <input asp-for="Id" type="hidden" value="@Model.Id" /><br /><br />
    <label>Başlık : &nbsp;</label><input asp-for="Title" placeholder="Başlık" value="@Model.Title" /> 


</form>