<div class="alert alert-info ">
    <strong>Bilgi! </strong>Admin işlemlerini yapabilmek için giriş yapmalısınız.
</div>
<form asp-controller="Admin" asp-action="Index" method="post">
    <p>
        <input class="input-group" type="text" id="Username" name="Username" placeholder="Kullanıcı adı" />
    </p>
    <p>
        <input class="input-group" type="password" id="Password" name="Password" placeholder="Şifre" />
    </p>
    <button class="btn btn-primary" type="submit">Giriş</button>
</form>