
@{
    ViewData["Title"] = "Admin Giriþi";
}

<h2>Admin Panel</h2>
<form asp-controller="Admin" asp-action="Index" method="post">
    <p>
        <input class="input-group" type="text" id="Username" name="Username" />
    </p>
    <p>
        <input class="input-group" type="text" id="Password" name="Password" />
    </p>
        <button type="submit">Giriþ</button>
</form>
 